/*Styling for the BTS index*/
/*Changing the page background for the bts stories*/
.innerbody {
	background-image: url(../img/backgrounds/rice_paper.jpg); background-repeat: repeat;
}

/*
.storyindex {
	width: 90%;
	display: block;
}
*/

.storyindexentry {
	border: 2px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: black;
	padding: 1em;
	width: 90%;
	margin: auto;
	margin-bottom: 1em;
}

.storydescription {
	border: 2px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0.5em;
	width: 90%;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
	color: black;
	background: #d7e8f8;
	background-image: url(../img/backgrounds/blue_seamless_tile.jpg); background-repeat: repeat;
}


.storyindexheader {
	font-family: 'Knewave', cursive;
	font-size: 1.5em;
	color:#F3E5AB;
}

.indexstorynumber {
	font-family: 'Averia Libre', cursive;
}

.indexstorytitle {
	font-family: 'Bowlby One SC', cursive;
}

.indexstorynumber {
	font-weight: bold;
}

.indexstorytitle {
	font-style: italic;
}

.indexchapternumber, .indexchaptertitle {
	font-family: 'Gentium Book Basic', serif;
	font-size: 1em;
}

.indexstorylist, .indexchapterlist {
	list-style: none;
}

.indexchapterlist {
	margin-bottom: 1em;
}

.indexchapterlist, .indexchapterlist>li {
	margin-left:0px;
}

.indexchapterlistheader {
	font-size: 1em;
	text-decoration: underline;
}

.chapterlink {
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.5em;
	width: 350px;
	font-size: 14pt;
	/*background: #52D017;*/
	background: #fcc9c6;
	background-image: url(../img/backgrounds/rose_seamless_tile.jpg); background-repeat: repeat;
/*	-webkit-font-smoothing: antialiased;	
	background: rgba(0,0,0,1);
	background: -webkit-linear-gradient(left, #C11B17 , black);
	background: -o-linear-gradient(right, #C11B17, black);
	background: -moz-linear-gradient(right, #C11B17, black);
	background: linear-gradient(to right, #C11B17 , black); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );*/
	color: black;
	text-decoration: none;
	margin-bottom: 0.5em;
    display: inline-block;
}

.chapterlink:hover, .chapterlink:active {
	background: #C11B17;
	color: white;
}
/*
.chapterlink {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
	font: menu;
	color: ButtonText;
    display: inline-block;
	padding: 2px 8px;
}
*/
/*Styling for the individual stories*/
.characterreference {
	font-family: 'Archivo Black', 'Impact', 'Charcoal', sans-serif;
	text-align:center;
}

.storyheader {
	font-family: 'Gentium Book Basic', 'Georgia', serif;
	font-size: .75em;
	color: #666362;
	padding: .5em;
}

.storynumber {
	float: left;
}

.storyname {
	float: right;
}

p {
	font-family: 'Gentium Book Basic', 'Georgia', serif;
	font-size: 1.25em; /*DA size 4 or 5*/
	text-align: justify;
}

.chapter {
	font-family: 'Archivo Black', 'Impact', 'Charcoal', sans-serif;
	text-align:center;
}

.dateline {
	font-size: 1.25em;
	font-style:italic;
}

.chapterbook {
	font-size: 1.5em;
}

.chaptertitle {
	font-size: 1.25em;
}

.storyimagecontainer {
	margin: auto;
	width: 80%;
}

.storyimage {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.btsfootnotebreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btsfootnote {
	font-size: 1em
}

.stablecharacters {
	border-style: ridge;
	border-width: 3px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.rampagesportslogo {
	font-family: 'Frijole', cursive;
	font-size: 3em;
	background: -webkit-linear-gradient(left, #C11B17 , black);
	background: -o-linear-gradient(right, #C11B17, black);
	background: -moz-linear-gradient(right, #C11B17, black);
	background: linear-gradient(to right, #C11B17 , black); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dragonsdenlogo {
	font-family: 'Shojumaru', cursive;
	font-size: 3em;
	background: -webkit-linear-gradient(left, black, #2B65EC);
	background: -o-linear-gradient(right, black, #2B65EC);
	background: -moz-linear-gradient(right, black, #2B65EC);
	background: linear-gradient(to right, black, #2B65EC); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.characterbio {
	visibility: visible;
}

.biolabel {
	font-family: 'Racing Sans One', cursive;
}

.bioinfo {
	font-family: 'Roboto Condensed', sans-serif;
}

/*
.bioimage {
	width: 200px;
}
*/

.blockquotation {
	font-family: 'Cutive Mono', monospace;
	display: inline-block;
	margin-left:70px;
	margin-right:70px;
}

.quickscene {
	font-weight: bold;
	text-align: center;
}

.listofchapters {
	text-align: center;
}

.embeddedtkoarticle {
	border: 0px;
	box-shadow: 15px 15px 10px #888888;
	background: white;
	background-image: url(../img/backgrounds/tile_background.jpg); background-repeat: repeat;
	text-decoration: italic;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
}

.btspreviewimagelist {
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
}

.btscommentbox {
	font-family: 'Lato', sans-serif;
	border: 1px solid #B6B6B4;
	border-radius: 25px;
	border: 0;
	padding: 1em;
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 20px;
	background: #8c82ff; /* Old browsers */
	background: -moz-linear-gradient(to right top, #C0C0C0, #4863A0); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right top, #C0C0C0, #4863A0); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right top, #C0C0C0, #4863A0); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btsfooterimagecontainer {
	width: 75%;
	margin: auto;
	/*border: 2px solid red;*/
}

.btsfooterimage {
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: black;
	border: 1px solid black;
	padding: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rookiegutchecknote {
	width: 50%;
	margin: auto;
}

.rookiegutchecknoteimage {
	max-width:100%
}

.ruledpaper {
	/*font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;*/
	width: 50%;
	height: 80%;
	margin: 0 auto;
	padding: 6px 5px 4px 42px;
	position: relative;
	color: #444;
	line-height: 20px;
	border: 1px solid #d2d2d2;
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
	background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	-webkit-background-size: 100% 20px;
	-moz-background-size: 100% 20px;
	-ms-background-size: 100% 20px;
	-o-background-size: 100% 20px;
	background-size: 100% 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 15px 15px 10px #888888;
	-moz-box-shadow: 15px 15px 10px #888888;
	box-shadow: 15px 15px 10px #888888;
	width: 15em;
	height: 8em;
}

.ruledpaper::before {
	content: '';
	position: absolute;
	width: 4px;
	top: 0;
	left: 30px;
	bottom: 0;
	border: 1px solid;
	border-color: transparent #efe4e4;
}

.ruledpapertextarea {
	display: block;
	width: 94%;
	margin: 0 auto;
	padding: 3.8% 3%;
	border: none;
	outline: none;
	height: 94%;
	background: transparent;
	line-height: 20px;
}

.ruledpaperhead {
	background-color: #FFF;
	min-height: 2em;
	margin-left: -42px;
	margin-top: -4px;
}

.btsstoryfigurecontainer {
	display: block;
	margin: auto;
	width: 60%;
	background: black;
	margin-top: 3em;
	margin-bottom: 3em;
	border: 3px inset #B6B6B4;
}

.btsstoryfigure {
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
}

.btsstoryimagelink {
	display: block;
	background: white;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hide;
}

.btsstoryimage {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #87AFC7;
}

.btsstoryimage:hover {
	opacity: 0.85;
	border-color: #C24641;
}


.btsstoryimagecaption{
	display: block;
	text-align: right;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #B6B6B4;
	padding-top: 1em;
}

/*
.miscstoryfiguresourcenote {
	background: white;
}
*/

.btsstoryfigurecaptionlink {
	color: #87AFC7;
}

.btsstoryfigurecaptionlink:hover {
	color: #C24641;
}

